.content {
    background-color: rgb(209, 209, 245);
    width: 100px;
    height:40px;
    font-size:20px;
}

.active
{
    background-color: rgb(128, 240, 188);
    width: 100px;
    height:40px;
    font-size:20px;
}

.changetest
{
    width:700px;
    height:100px;
    background-color: rgb(219, 92, 219);
}



#id001{
    margin:20px;
    padding:10px;
    background-color: cyan;
}

.testclick
{
    width:200px;
    height:200px;
    background-color:rgb(209, 243, 209);
}
