.content {
    background-color: rgb(209, 209, 245);
    width: 100px;
    height:40px;
    font-size:20px;
}

.active
{
    background-color: rgb(210, 229, 155);
    width: 100px;
    height:40px;
    font-size:20px;
}
