body{
  margin:0px;
  padding:0px;
}

.header
{
  width:1903px;
  height:80px;
}

.header-container
{
  width:1240px;
  height:65px;
  margin:0px auto;
}

.clearfix {
  content:"";
  display:block;
  clear:both;
}

.head-logo{

  width:214;
  height:50px;
}

.header-left{
  margin:0 3px;
}

.header-part {
  margin-top:15px;
  float:left;
}

.header-middle
{
  width:520px;
  margin:30px 20px;
}

.search-bar input{
  width:428px;
  height:36px;
}