.icon-mobile:before {
    content: "\e958";
  }

body{
  margin:0px;
  padding:0px;
}

.header
{
  width:1440px;
  height:80px;
}

.head-logo{

  width:214px;
  height:50px;

}

.header-part {
  float:left;
}